force-app/main/default/flows/customer_review_of_solar_panels.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>StackRank_Assignment</name>
        <label>StackRank_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank0&quot;,&quot;rankText&quot;:&quot;{!q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank0}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank1&quot;,&quot;rankText&quot;:&quot;{!q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank1}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank2&quot;,&quot;rankText&quot;:&quot;{!q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank2}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{&quot;rankId&quot;:&quot;q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank3&quot;,&quot;rankText&quot;:&quot;{!q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank3}&quot;}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_23c46d2c_4689_4cf4_8bfa_0ec3ff56ccd1</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_2a65bff8_6fb6_4fed_966d_0925f4686d89</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_83fb49c7_1692_443c_9726_29802e2227b4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e343b8b9_642a_432f_b3db_de741f0fd977</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_f22295e6_3a63_4eb8_9d34_72d29091e237</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Customer Review of Solar Panels</interviewLabel>
    <label>Customer Review of Solar Panels</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_customer_review_of_solar_panel_df8b8d04_7eac_4737_8c66_a9ad37134a72</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_35f01810_5a77_434f_ba0e_637c4d89a92f</name>
        <label>Low Score Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_aa76e5ee_434c_4842_87bb_783c636566fe</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d8e462f7_7fa4_4182_b934_909eb97b3576</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;Tell us why you rated our solar panel &lt;/span&gt;{!q_2b52d31d_4377_44c5_af17_adb85e55a131}?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_5b468df5_4afd_439a_a22e_cd56c83e545e</name>
        <label>Solar Panel Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_35f01810_5a77_434f_ba0e_637c4d89a92f</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_2b52d31d_4377_44c5_af17_adb85e55a131_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2b52d31d_4377_44c5_af17_adb85e55a131</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;Score our solar panels&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://resourceful-bear-jseaq-dev-ed--c.documentforce.com/file-asset-public/solar_panel?oid=00D3V000000AFa6&amp;amp;v=1&quot; alt=&quot;solar_panel&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6113603e_571b_4588_af62_d2c04030370d</name>
        <label>Other Improvement Areas</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_74e49a0d_8e70_4f41_8a8c_751228523aaf</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: monospace;&quot;&gt;Any other areas of improvement?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_820bcaac_fcea_4a7c_ac22_12a0e764c210</name>
        <label>Solar Panel Installation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_5b468df5_4afd_439a_a22e_cd56c83e545e</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_fbe862e5_7372_4e83_9f47_4c8974157a17_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_fbe862e5_7372_4e83_9f47_4c8974157a17</name>
            <choiceReferences>c_2a65bff8_6fb6_4fed_966d_0925f4686d89</choiceReferences>
            <choiceReferences>c_f22295e6_3a63_4eb8_9d34_72d29091e237</choiceReferences>
            <choiceReferences>c_e343b8b9_642a_432f_b3db_de741f0fd977</choiceReferences>
            <choiceReferences>c_83fb49c7_1692_443c_9726_29802e2227b4</choiceReferences>
            <choiceReferences>c_23c46d2c_4689_4cf4_8bfa_0ec3ff56ccd1</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Rate your experience with the solar panel installation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_91f9f5a1_1235_43e6_ab33_828ec23563d5</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;Tell us what didn’t go well with the installation&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_aa76e5ee_434c_4842_87bb_783c636566fe</name>
        <label>Rank and Recommend</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6113603e_571b_4588_af62_d2c04030370d</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rank</name>
                <value>
                    <elementReference>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>weights</name>
                <value>
                    <stringValue>[4,3,2,1]</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a</name>
            <dataType>String</dataType>
            <extensionName>survey:cmpInputRuntimeStackRank</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: monospace;&quot;&gt;Rank which features of the solar panels are the most useful.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NEXT</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_95925908_941b_4a88_9507_6091c55c4410_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_95925908_941b_4a88_9507_6091c55c4410</name>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeNps</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: monospace;&quot;&gt;Would you recommend our solar panels to your friends and family?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_820bcaac_fcea_4a7c_ac22_12a0e764c210</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>{!welcome_question_dref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>StackRank_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank0</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Low Maintenance</text>
    </textTemplates>
    <textTemplates>
        <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Protects Your Roof</text>
    </textTemplates>
    <textTemplates>
        <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Constant Power Source</text>
    </textTemplates>
    <textTemplates>
        <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank3</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Highly Durable</text>
    </textTemplates>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 16px; font-family: monospace;&quot;&gt;Thank you for helping us make everyone’s day a little brighter!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_dref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Survey for customer satisfaction on using solar panels.</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 16px; font-family: verdana;&quot;&gt;Please tell us about your recent experience with Ursa Major Solar so we can help the sun shine on all our customers!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://resourceful-bear-jseaq-dev-ed--c.documentforce.com/file-asset-public/company_logo?oid=00D3V000000AFa6&amp;amp;v=1&quot; alt=&quot;company_logo&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>q_1fb54696_0634_4069_a9df_35d00b15bb8a_rank</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_2b52d31d_4377_44c5_af17_adb85e55a131_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_95925908_941b_4a88_9507_6091c55c4410_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>var_q_fbe862e5_7372_4e83_9f47_4c8974157a17_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
